@tailwind base;
@tailwind components;
@tailwind utilities;

/* .roller {
    display: flex;
    justify-content: center;
    justify-items: center;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background: conic-gradient(#0000 10%, #22223b);
    -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 9px), #000 0);
    animation: Roller-zp9dbg 1s infinite linear;
}

@keyframes Roller-zp9dbg {
    to {
        transform: rotate(1turn);
    }
} */
 /* HTML: <div class="loader"></div> */
/* .roller {
    width: 80px;
    aspect-ratio: 1;
    display: grid;
    color: #8d7958;
    background: radial-gradient(circle 16px,currentColor 94%,#0000);
    -webkit-mask: radial-gradient(circle 5px,#0000 90%,#000);
    animation: l10 1.5s infinite linear;
  }
  .roller:before,
  .roller:after {
    content: "";
    grid-area: 1/1;
    background: 
      radial-gradient(farthest-side at bottom right,currentColor 94%,#0000) top    right, 
      radial-gradient(farthest-side at top    left ,currentColor 94%,#0000) bottom left;
    background-size: 40% 45%;
    background-repeat: no-repeat;
    -webkit-mask: 
      radial-gradient(60% 100% at bottom right,#0000 94%,#000) top    right, 
      radial-gradient(60% 100% at top    left ,#0000 94%,#000) bottom left;
    -webkit-mask-size: 40% 45%;
    -webkit-mask-repeat: no-repeat;
  }
  .roller:after {
    transform: rotate(90deg);
  }
  @keyframes l10 { 
    100%{transform: rotate(1turn)}
  } */
   /* HTML: <div class="loader"></div> */
/* .roller {
    height: 40px;
    aspect-ratio: 1.5;
    --c: #fff 96%,#0000;
    background:
      radial-gradient(farthest-side at 100% 100%,var(--c)),
      radial-gradient(farthest-side at 0    100%,var(--c)),
      radial-gradient(farthest-side at 100% 0   ,var(--c)),
      radial-gradient(farthest-side at 0    0   ,var(--c));
    background-size: 33.4% 50%;
    background-repeat: no-repeat;
    animation: l9 2s infinite linear;
  }
  @keyframes l9 {
    0%    {background-position:0 0,50% 0,0 100%,50% 100%}
    12.5% {background-position:0 0,100% 0,0 100%,50% 100%}
    25%   {background-position:50% 0,100% 0,0 100%,50% 100%}
    37.5% {background-position:50% 0,100% 0,0 100%,100% 100%}
    50%   {background-position:50% 0,100% 0,50% 100%,100% 100%}
    62.5% {background-position:0 0,100% 0,50% 100%,100% 100%}
    75%   {background-position:0 0,50% 0,50% 100%,100% 100%}
    87.5% {background-position:0 0,50% 0,0 100%,100% 100%}
    100%  {background-position:0 0,50% 0,0 100%,50% 100%}
  } */
  /* HTML: <div class="loader"></div> */
.roller {
    width: 50px;
    aspect-ratio: 1;
    --c:no-repeat radial-gradient(farthest-side,#514b82 92%,#0000);
    background: 
      var(--c) 50%  0, 
      var(--c) 50%  100%, 
      var(--c) 100% 50%, 
      var(--c) 0    50%;
    background-size: 10px 10px;
    animation: l18 1s infinite;
    position: relative;
  }
  .roller::before {    
    content:"";
    position: absolute;
    inset:0;
    margin: 3px;
    background: repeating-conic-gradient(#0000 0 35deg,#514b82 0 90deg);
    -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 3px),#000 0);
    border-radius: 50%;
  }
  @keyframes l18 { 
    100%{transform: rotate(.5turn)}
  }